body {
    background-color: #f8f9fa;
}
.navbar {
    background-color: #ff6600;
}
.navbar-brand, .nav-link {
    color: #ffffff !important;
}
.btn-primary {
    background-color: #ff6600;
    border-color: #ff6600;
}
.btn-primary:hover {
    background-color: #e65c00;
    border-color: #e65c00;
}
.form-label {
    font-weight: bold;
}


.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-2{
    padding: 5%;
    background: #e65c00;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #e65c00;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
