{% extends "base.html" %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 50vh;">
    <div class="card p-4" style="width: 100%; max-width: 400px;">
        <h3 class="mb-4 text-center">Cadastro</h3>
        <form method="POST">
            <div class="form-group">
                <label for="username" class="form-label">Nome de Usuário:</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Seu Nome de Usuário *" value="{{ request.form.username }}" required>
            </div>
            <div class="form-group">
                <label for="email" class="form-label">Email:</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Seu Email *" value="{{ request.form.email }}" required>
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Senha:</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Sua Senha *" required>
            </div>
            <div class="form-group">
                <label for="confirm_password" class="form-label">Confirme a Senha:</label>
                <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirme Sua Senha *" required>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block" value="Cadastrar" />
            </div>
            <div class="form-group text-center">
                <a href="{{ url_for('auth.login') }}" class="btn btn-secondary btn-block">Voltar ao Login</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}